<% content_for :content do %>
  <h1>Mes animaux</h1>
  <p class="text-right">
    <%= link_to 'Ajouter un animal', new_pet_path, class: 'btn btn-primary'%>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Nom</th>
        <th>Sexe</th>
        <th>Age</th>
        <th>Espece</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @pets.each do |pet| %>
        <tr>
          <td></td>
          <td><%= pet.name %></td>
          <td><%= pet.gender %></td>
          <td><%= pet.birthday %></td>
          <td><%= pet.species.name %></td>
          <td><%= link_to 'Modifier', edit_pet_path(pet.id), class: 'btn btn-primary'%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= render template: 'layouts/profile' %>
