<% content_for :tab, :pets, :flush => true %>
<% content_for :content do %>
  <h1>Mes animaux</h1>
  <p class="text-right">
    <%= link_to 'Ajouter un animal', new_pet_path, class: 'btn btn-primary'%>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Nom</th>
        <th>Sexe</th>
        <th>Age</th>
        <th>Espece</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @pets.each do |pet| %>
        <tr>
          <td><%= image_tag pet.avatar_url %></td>
          <td><%= pet.name %></td>
          <td><%= pet.gender %></td>
          <td><%= pet.age %> <%= 'an'.pluralize(pet.age) %></td>
          <td><%= pet.species.name %></td>
          <td><%= link_to 'Voir', pet_path(pet), class: 'btn btn-default'%>
        <%= link_to 'Modifier', edit_pet_path(pet), class: 'btn btn-primary'%>
        <%= link_to 'Supprimer', pet_path(pet), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ?"}, class: 'btn btn-danger'%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= render template: 'layouts/profile' %>
