<div class="panel panel-default">
  <div class="panel-heading">S'inscrire</div>
  <div class="panel-body">
    <%= form_with user: @user, html: {class: 'form-horizontal'} do |form| %>

      <div class="form-group">
        <%= form.label :username, "Nom d'utilisateur", class: 'col-md-4 control-label' %>
        <div class="col-md-6">
          <%= form.text_field :username, class: 'form-control' %>
        </div>
        <% @user.errors.full_messages_for(:username).each do |message| %>
          <div class='text-danger'><%= message %></div>
        <% end %>
      </div>

      <div class="form-group">
        <%= form.label :email, "Email", class: 'col-md-4 control-label' %>
        <div class="col-md-6">
          <%= form.text_field :email, class: 'form-control' %>
        </div>
        <% @user.errors.full_messages_for(:email).each do |message| %>
          <div class='text-danger'><%= message %></div>
        <% end %>
      </div>

      <div class="form-group">
        <%= form.label :password, "Mot de passe", class: 'col-md-4 control-label' %>
        <div class="col-md-6">
          <%= form.password_field :password, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :password_confirmation, "Confirmer le mot de passe", class: 'col-md-4 control-label' %>
        <div class="col-md-6">
          <%= form.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
          <%= form.submit "S'inscrire", class: 'btn btn-success'  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
